.container {
  margin: 20px 0;
}

input {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--bg);
  width: 100%;
  font-size: 18px;
}

.inputError {
  border: 1px solid var(--error);
}
.errorMessage {
  margin-top: 5px;
  color: var(--error);
  font-size: 16px;
}

@media (max-width: 769px) {
  input {
    font-size: 14px;
  }
}
